body {
    margin: 0;
    background-color: whitesmoke;
}

/* Navigation */
.nav_bar {
    background-color: whitesmoke;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 8pt 16pt 8pt 16pt;
    border-bottom: 8px solid black;
}

.nav_options {
    font-family: 'DM Sans', sans-serif;
    font-size: 16pt;
    display: flex;
    align-items: center;
    align-content: space-between;
}

.nav_option {
    color: black;
    text-decoration: none;
    margin: 8pt;
}

.nav_button {
    color: white;
    background-color: #535CAA;
    font-family: 'DM Sans', sans-serif;
    border-radius: 100pt;
    font-size: 16pt;
    text-decoration: none;
    padding: 8pt 16pt;
    margin: 8pt;
    transition: 0.5s;
    box-shadow: inset -5px -5px 10px -6px #000000,
    inset 5px 5px 10px -6px #FFFFFF;
    border: none;
}

.nav_button:hover {
    background-color: whitesmoke;
    color: black;
    box-shadow: inset -5px -5px 10px -6px #000,
    inset 5px 5px 10px -6px white;
}

.logo {
    color: black;
    font-family: 'Poppins';
    font-size: 36pt;
    text-decoration: none;
}

/* Hero Section */
.hero_section {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 32pt;
    padding-bottom: 6em;
}

.heroFlex {
    border: 4px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32pt;
}

.hoverIndicator {
    font-family: 'DM Sans', sans-serif;
    transform: rotate(-90deg);
}

.hero_text {
    font-family: 'Poppins';
    font-size: 5em;
    font-weight: 100;
    color: black;
}

.heroBold {
    color: black;
    font-weight: 800;
}

#aesthetics:hover {
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#playfulness:hover {
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    margin: 0;
}

.hero_image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Project List */
#prjList {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 4em;
    width: 1200px;
    background-color: whitesmoke;
}

h2 {
    margin: 16pt 0pt 0pt 0pt;
    font-family: 'Poppins';
    font-size: 36pt;
    font-weight: bold;
}

.prjContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 16pt;
    width: 1200px;
    border: 4px solid black;
}

.prjLeft {
    padding: 8pt 32pt;
}

.prj_subtitle {
    font-family: 'DM Sans', sans-serif;
    font-size: 16pt;
}

.prj_info {
    padding: 32pt 32pt;
    font-family: 'DM Sans', sans-serif;
    font-size: 12pt;
}

#prj1_left {
    background-color: #FFAD8A;
}

#prj2_left {
    background-color: #4FA270;
}

#prj3_left {
    background-color: #6967BC;
}

.prj_button_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn_button {
    background-color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 12pt;
    padding: 8px 16px;
    margin-bottom: 32px;
    cursor: pointer;
    border-radius: 100pt;
    box-shadow: inset -5px -5px 10px -6px #000000,
    inset 5px 5px 10px -6px #FFFFFF;
    border: none;
}

.learn_button:hover {
    background-color: black;
    color: white;
}

.prjRight {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.prj_image {
    width: 500px;
    height: 350px;
    object-fit: contain;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64pt 0pt;
    background-color: #535CAA;
    color: black;
}

.footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "footer_msg footer_email"
    "footer_msg footer_linkedin"
    ;
    width: 1200px;
    border: 4pt solid black;
}

.footer_msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #535CAA;
    border: 1pt solid red;
}

.footer_slogan {
    font-family: 'Poppins';
    font-size: 32pt;
}

.footer_button {
    background-color: white;
    font-family: 'Poppins';
    font-size: 16pt;
    padding: 8pt 16pt;
    margin: 4pt 0pt 32pt 0pt;
    cursor: pointer;
    border-radius: 100pt;
    box-shadow: inset -5px -5px 10px -6px #000000,
    inset 5px 5px 10px -6px #FFFFFF;
    border: none;
}

.footer_email{
    font-family: 'DM Sans', sans-serif;
    font-size: 16pt;
    display: flex;
    align-items: center;
    padding: 0pt 16pt;
    color: black;
    text-align: right;
    border: 1pt solid red;
}

.footer_linkedin {
    background-color: #535CAA;
    text-align: right;
    border: 1pt solid red;

}

.footer_contact {
    background-color: #535CAA;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 16pt;
    color: black;
}

/*Mobile Query*/

@media only screen and (max-width: 600) {
    body {
        display: flex;
        flex-direction: column;
    }

}